<!DOCTYPE html>
<html>
<head>
  <title>PAA Time Calendar</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
    }
    th {
      background-color: #f2f2f2;
    }
    td.time-slot {
      font-weight: bold;
    }
  </style>
</head>
<body>
<script>
var availabilities = {
  {% for (i,j), v in availabilities.items() %}
  {{ f'{i},{j}' }}: v }},
  {% endfor %}
}
</script>
<table>
  <tr>
    <th>Time</th>
    {%- for date in dates %}
    <th>{{ date }}</th>
    {% endfor %}
  </tr>
  
  {%- for i, time_slot in enumerate(time_slots) %}
  <tr>
    <td class="time-slot">{{ time_slot }}</td>
    {% for j in range(len(dates)) %}
    <td id="{{ f'{i},{j}' }}">{{ len(availabilities.get((i,j)), '') or None }}</td>
    {% endfor %}
  </tr>
  {% endfor %}

</table>

</body>
</html>
